.featured-section {
  /* padding: 40px 80px; */
  background-color: #f5f6f9;
}

.featured-text {
  text-align: center;
}


/* card */
.featured-card-parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  width: 100%;
  padding: 40px 0px;
}

/* প্রথম লাইন */
.featured-card-div1 {
  grid-column: span 3;
}

.featured-card-div2 {
  grid-column: span 2;
}

/* দ্বিতীয় লাইন */
.featured-card-div3 {
  grid-column: span 2;
}

.featured-card-div4 {
  grid-column: span 3;
}

/* প্রতিটি কার্ডের স্টাইল */
.featured-card-div1,
.featured-card-div2,
.featured-card-div3,
.featured-card-div4 {
  background: #fff;
  border-radius: 24px;
  box-shadow: 6px 6px 12px rgba(189, 200, 223, 0.7),
    -6px -6px 12px rgba(255, 255, 255, 0.7);
  padding: 20px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #e8f4ff;
}

.featured-img img {
  width: auto;
  height: 275px;
  object-fit: cover;
}

.featured-content-text {
  text-align: center;
  margin-top: 10px;
}
.featured-content-text h1 {
  font-size: 28px;
  font-weight: 600;
  color: #1e6fff;
  margin-bottom: 8px;
}

.featured-content-text p {
  font-size: 14px;
  color: #777c82;
  margin-top: 10px;
}

/* Responsive (mobile এ এক কলামে দেখাবে) */
@media (max-width: 768px) {
  .featured-card-parent {
    grid-template-columns: 1fr;
  }
  .featured-card-div1,
  .featured-card-div2,
  .featured-card-div3,
  .featured-card-div4 {
    grid-column: auto;
  }
}
