.work-process-section {
  text-align: center;
  background: #C0E1FF;
  /* padding: 80px 100px; */
}
/* .all-section-width{
  max-width: 1350px;
  margin: auto;
  padding: 80px 0px;
} */

.work-process-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0px;
}

.work-process-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 240px;
  border-radius: 24px;
  box-shadow:
    6px 6px 12px rgba(78, 137, 255, 0.5),
    -6px -6px 12px rgba(249, 252, 255, 0.3);
}
.work-img-div{
  position: relative;
}
.work-Shape-img{
  width: 163px;
  height: 87px;
  object-fit: cover;
}
.work-icon{
  position: absolute;
  left: 54px;
  top: 8px;
}
.work-process-div h5 {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}
.work-process-div p {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  padding: 0px 10px;
}